.navbar{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 20px 2px black;  
}

.B{
    color:  white;
    position: relative;
    top: -10px;
    left: 82%;
    display: inline-block;
    position: relative;
}

p{
    line-height: 20px;
}

h1{
    text-shadow: 0px 0px 20px;
    display: inline-block;
    position: fixed;
    left: 35%;
    font-size: 60px;
    margin-top: -20px;
    color: #e6df84;
    font-family:Brush Script MT, Brush Script Std, cursive ;   
    font-weight: bold!important; 
}

button{
    position: fixed;
    right: 5%;
    top: 13%;
    display: inline-block;
}