<div class="component_B">
    <h5>Welcome to our store!</h5>
    <h5> Here you will find lots of healthy and high quality foods.</h5>
  
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper fade-in">
        <img src="https://i.pinimg.com/474x/b0/24/d5/b024d5549174ab6f04f4041830e3d53b.jpg" alt="">
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper fade-in">
        <img  src="https://i.pinimg.com/474x/67/d9/d1/67d9d1ab678941cf44ee36f03581c400.jpg" alt="">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper fade-in">
        <img src="https://i.pinimg.com/474x/40/b4/f4/40b4f4c211f05c96d5bec9db29d70440.jpg" alt="">
      </div>
    </ng-template>
  </ngb-carousel>


  <h5><strong>NEW!!</strong> </h5>
    <h5>Provide free shipping to many places in the country!</h5>

</div>