mat-grid-list{
  height: 100%;
  width: 100%;
  position: static;
}

mat-grid-tile{
  width: 100%;
  height: 100%;
  display: inline-block;
}

app-side-bar,app-view{
  height: 100%;
  width: 100%;
}

 mwlResizable {
  box-sizing: border-box;
}

.rectangle {
  background-color: #f4f4f4;

  border: solid black;
  position: relative;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 700px;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

.rectangle1 {
  background-color: #f4f4f4;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 50px;
  max-width: 900px;
  height: 100%;
  margin: auto;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}
.resize-handle-left {
  left: 0;
}
.resize-handle-right {
  right: 0;
}

.slide-out-left {
  height: 100%;
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

